<header class="container-fluid">
    {{> header}}
</header>

<body>
    <div style="margin: 0px 6% 0px 6%;">
        <h4 style="margin:20px 0px 20px 10px">Giỏ Hàng</h4>


        {{#if cart}}
        <div class="related-products row">
            <div class="col-9" style="background-color: white; padding: 5px; margin-bottom: 10%; border-radius: 10px;">
                {{#each cart}}
                <div class="product-price-infor row" style="background-color: white; margin:20px 10px 0px 10px">
                    <a href="/item/{{this.id}}"><img style="width: 80px;" src="/images/{{this.image}}" alt=""></a>
                    <div class="col">
                        <a href="/item/{{this.id}}">
                            <h5 style="color: black;">{{this.name}}</h5>
                        </a>
                        <h6 style="color: black;">Giá : <span>{{vnd this.price}}</span><span>đ</span></h6>
                    </div>
                    <div class="col">
                        <div class="quantity buttons_added">
                            <h6 style="color: black;">Số lượng : <span>{{this.quantity}}</span> chiếc</h6>
                            <h6 style="color: black;">Thành tiền : <span>{{mul this.price this.quantity}}</span> đ</h6>
                        </div>
                    </div>
                    <div class="col" style="text-align: right;">
                        <button type="button" class="btn btn-danger" data-whatever="{{this.id}}" data-toggle="modal"
                            data-target="#cancelOrder">
                            Xoá
                        </button>
                    </div>
                </div>
                <hr>
                {{/each}}
            </div>

            <div class="col-3" style="background-color: #eeeeee;">
                <div style="background-color: white; border-radius: 10px; padding: 10px;">
                    <h5>Giao tới :</h5>
                    <h6>Tên : {{user.name}}</h6>
                    <h6>Số điện thoại : {{user.phone}}</h6>
                    {{#if user.address}}
                    <h6>Địa chỉ : {{user.address}}</h6>
                    {{else}}
                    <h6>Vui lòng thay đổi địa chỉ để mua hàng -<a href="/profile"> Thay đổi</a></h6>
                    {{/if}}
                </div>
                <div style="background-color: white; border-radius: 10px; padding: 10px; margin-top:10px">
                    <h6>Tổng tiền : <span style="color: red;">{{vnd order.cost}} </span>đ</h6>
                </div>

                {{#if user.address}}
                <form action="/order/{{order.id}}" method="POST">
                    <button class="btn btn-block" style="background-color: #ff3333; margin-top: 20px;">
                        <i class="fas fa-shopping-cart"></i>
                        Mua hàng
                    </button>
                </form>
                {{/if}}

                <p id="error" style="color: red; text-align: center; margin-top:20px"></p>

            </div>
        </div>

        {{else}}
        <div>
            <img src="https://salt.tikicdn.com/desktop/img/mascot@2x.png"
                style="height: 25%; width: 25%; align-items: center;margin:20px 0px 0px 35%">
            <p style="text-align: center; margin:10px">Không có sản phẩm nào trong giỏ hàng của bạn</p>
            <form action="/home" style="text-align: center; margin:20px">
                <button type="submit"
                    style="background-color: yellow; border-radius: 10px; padding: 5px 30px 5px 30px;">
                    Tiếp tục mua sắm
                </button>
            </form>
        </div>
        {{/if}}
    </div>

    <!-- Modal cancel order -->
    <div class="modal fade" id="cancelOrder" tabindex="-1" aria-labelledby="cancelOrderLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cancelOrderLabel">Chú ý</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bạn có chắc muốn xoá sản phẩm này khỏi giỏ hàng ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" id="btnCancelOrder">Yes</button>
                </div>
            </div>
        </div>
    </div>

</body>




<form method="POST" name="form-cancel-order"></form>

<script>
    var product_id, order_id = {{ order.id }}
    var btnCancelOrder = document.getElementById('btnCancelOrder')
    var form = document.forms['form-cancel-order']

    $('#cancelOrder').on('show.bs.modal', function (event) {
        const button = $(event.relatedTarget)
        product_id = button.data('whatever')
    })

    btnCancelOrder.onclick = () => {
        form.action = '/delete-cart/' + product_id + '/' + order_id
        form.submit()
    }

    /// set error ///
    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    const er = document.getElementById('error')
    const cookie_error = getCookie("error-order")

    if (cookie_error != '') {
        er.innerHTML = "Một số sản phẩm bạn đặt đã hết hàng vui lòng kiểm tra lại"
        document.cookie = "error-order=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
    }

</script>