<header class="container-fluid">
    <div class="heading-sub container">
        <div class="row">
            <div class="logo-web col-lg-1 col-2">
                <a href="/home">
                    <img src="/image_home/logo_shop_1.png" alt="logo">
                </a>
            </div>
            <div class="search-web col-lg-5 col-6">
                <form class="input-group" action="/search">
                    <div class="input-group">
                        <input type="search" id="form-search" class="form-control" name="q" placeholder="Search" />
                        <button type="submit" class="btn btn-search">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="car-web col-lg-2 col-1">
                <a href="/order">
                    <button class="btn btn-car">
                        <i class="fas fa-shopping-cart"></i>
                        <span>Giỏ hàng</span>
                    </button>
                </a>
            </div>


            <div class="user-infor col-lg-4 row">
                <div class="col-3"></div>
                <div class="col-8" id="form-login-user">
                    {{#if user}}
                    <div class="dropdown">
                        <div class="form-inline dropbtn">
                            <div class="user-infor-sub">
                                <img src="/images/000ccceb241fa4897a4f1d7a4db601fb.png" alt="">
                            </div>
                            <small style="font-size: 17px; color: aqua;">
                                {{user}}
                            </small>
                        </div>
                        <div class="dropdown-content" style="border-radius: 10px;">
                            <a href="/admin" style="font-size: 15px; color: black; text-align: center;">Đơn hàng</a>
                            <a href="/historyOrder" style="font-size: 15px; color: black; text-align: center;">Lịch sử
                                mua hàng</a>
                            <a href="/admin/items" style="font-size: 15px; color: black; text-align: center;">Hồ sơ cá
                                nhân</a>
                            <form action="/logout" method="post" style="text-align: center;">
                                <button type="submit" class="btn btn-link">
                                    <small style="font-size: 15px; color: black; text-align: center;">Đăng xuất</small>
                                </button>
                            </form>
                        </div>
                    </div>
                    {{else}}
                    <div class="form inline">
                        <a href="/login" style="font-size: 15px; color: aqua;">Đăng nhập /</a>
                        <a href="/register" style="font-size: 15px; color: aqua;"> Đăng ký</a>
                    </div>
                    {{/if}}
                </div>
                <div class="btn-menu col-2">
                    <button class="btn">
                        <i class="fas fa-bars"></i>
                        <span>Menu</span>
                    </button>
                </div>
            </div>
        </div>
</header>

<div class="container-fluid heading-menu">
    <div class="category-menu">
        <span>Danh mục</span>
    </div>
    <nav class="container navbar navbar-expand-lg">
        <ul class="navbar-nav" id="nav-menu">
            <li class="nav-item">
                <a class="nav-link" href="/search?manufacturer=iphone">IPHONE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search?manufacturer=samsung">SAM SUNG</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search?manufacturer=nokia">NOKIA</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search?manufacturer=xiaomi">XAOMI</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search?manufacturer=oppo">OPPO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search?manufacturer=realme">REALME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search?manufacturer=sony">SONY</a>
            </li>
        </ul>
    </nav>
</div>

<body>
    <div class="container">
        <h4 style="margin:10px 0px 10px 10px">Giỏ Hàng</h4>

        <div style="background-color: white; padding: 5px;">

            {{#if cart}}
            <div class="container">
                <div class="related-products">
                    {{#each order}}
                    <div class="product-price-infor row"
                        style="background-color: white; margin-left: 15px; margin-top: 10px;">
                        <a href="/item/{{this.product_id}}"><img style="width: 80px;" src="/images/{{this.image}}"
                                alt=""></a>
                        <div class="col">
                            <a href="/item/{{this.product_id}}">
                                <h5 style="color: black;">{{this.product_name}}</h5>
                            </a>
                            <h6 style="color: black;">Giá : <span>{{vnd this.price}}</span><span>đ</span></h6>
                            <p style="color: black; text-align: left;">Số lượng : {{this.quantity}} chiếc </p>
                        </div>
                        <div class="col">
                            <h6 style="color: black;">Tổng tiền : <span>{{mul this.quantity
                                    this.price}}</span><span>đ</span></h6>
                            <h6 style="color: black;">Tình trạng : Đang giao hàng</h6>
                        </div>
                        <div class="col" style="text-align: right;">
                            <button type="button" class="btn btn-danger" data-whatever="{{this.id}}" data-toggle="modal"
                                data-target="#cancelOrder">
                                Huỷ đơn
                            </button>
                        </div>
                    </div>
                    <hr>
                    {{/each}}
                </div>
            </div>

            {{else}}
            <img src="https://salt.tikicdn.com/desktop/img/mascot@2x.png"
                style="height: 25%; width: 25%; align-items: center;margin:20px 0px 0px 35%">
            <p style="text-align: center; margin:10px">Không có sản phẩm nào trong giỏ hàng của bạn</p>
            <form action="/home" style="text-align: center; margin:20px">
                <button type="submit"
                    style="background-color: yellow; border-radius: 10px; padding: 5px 30px 5px 30px;">
                    Tiếp tục mua sắm
                </button>
            </form>
            {{/if}}
        </div>

    </div>

    <!-- Modal cancel order -->
    <div class="modal fade" id="cancelOrder" tabindex="-1" aria-labelledby="cancelOrderLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cancelOrderLabel">Chú ý</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bạn có chắc muốn huỷ đơn hàng này ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" id="btnCancelOrder">Yes</button>
                </div>
            </div>
        </div>
    </div>

</body>




<form method="POST" name="form-cancel-order"></form>

<script>
    var order_id
    var btnCancelOrder = document.getElementById('btnCancelOrder')
    var form = document.forms['form-cancel-order']


    $('#cancelOrder').on('show.bs.modal', function (event) {
        const button = $(event.relatedTarget)
        order_id = button.data('whatever')
    })

    btnCancelOrder.onclick = () => {
        form.action = '/admin/deleteOrder/' + order_id
        form.submit()
    }
</script>