<header class="container-fluid">
    {{> header}}
</header>

<body>
    <div class="container">
        <div class="product-compartment row">
            <span>Sản phẩm bạn đã mua</span>
            <hr class="col ">
        </div>

        <div class="container" style="margin-bottom: 100px;">
            {{#if infor_order}}

            {{#each infor_order}}
            <div style="background-color: white; padding: 10px; margin-bottom: 10px; border-radius: 10px;">
                {{#each this.order_detail}}
                <div>
                    <div class="product-price-infor row" style="background-color: white; margin:0px 10px 10px 10px">
                        {{!-- <a href="/item/{{this.id}}"> --}}
                            <img style="width: 80px;" src="/images/{{this.image}}" alt="">
                            {{!-- </a> --}}
                        <div class="col">
                            {{!-- <a href="/item/{{this.id}}"> --}}
                                <h5 style="color: black;">{{this.name}}</h5>
                                {{!--
                            </a> --}}
                            <h6 style="color: black;">Giá : <span>{{vnd this.price}} đ</span></h6>
                        </div>
                        <div class="col">
                            <div class="quantity buttons_added">
                                <h6 style="color: black;">Số lượng : {{this.quantity}} chiếc</h6>
                                <h6 style="color: black;">Thành tiền : <span>{{mul this.price
                                        this.quantity}} đ</span></h6>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                {{/each}}

                <h6 style="text-align: right;">Tình trạng : {{status this.status}}</h6>
                <h6 style="text-align: right;">Phương thức thanh toán : {{payment this.payment_info}}</h6>
                <h6 style="text-align: right;">Tổng tiền đã thanh toán : <span style="color: red;">{{vnd this.cost}}
                        đ</span></h6>

            </div>
            {{/each}}

            {{else}}
            <div>
                <img src="https://salt.tikicdn.com/desktop/img/mascot@2x.png"
                    style="height: 25%; width: 25%; align-items: center;margin:20px 0px 0px 35%">
                <p style="text-align: center; margin:10px">Bạn chưa đặt mua sản phẩm nào</p>
                <form action="/home" style="text-align: center; margin:20px">
                    <button type="submit"
                        style="background-color: yellow; border-radius: 10px; padding: 5px 30px 5px 30px;">
                        Mua sắm ngay
                    </button>
                </form>
            </div>
            {{/if}}
        </div>
    </div>

</body>