<header class="container-fluid">
    {{> header}}
</header>


<div class="container-fluid heading-menu">
    <div class="category-menu">
        <span>Danh mục</span>
    </div>
    <nav class="container navbar navbar-expand-lg">
        <ul class="navbar-nav" id="nav-menu">
            <li class="nav-item">
                <a class="nav-link" href="/search?manufacturer=iphone">IPHONE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search?manufacturer=samsung">SAM SUNG</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search?manufacturer=nokia">NOKIA</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search?manufacturer=xiaomi">XAOMI</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search?manufacturer=oppo">OPPO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search?manufacturer=realme">REALME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search?manufacturer=sony">SONY</a>
            </li>
        </ul>
    </nav>
</div>
<div class="close-heading-menu"></div>
<!-- main-body -->
<div class="main-body container">
    <div class="product-compartment row ">
        <span>Sản phẩm cho từ khoá '{{key_search}}' </span>
        <hr class="col ">
    </div>


    <div id="product-category" class="row">
        {{#each items}}
        <a href="/item/{{this.id}}">
            <div class="product-item card col-md-3 col-sm-4 col-6 btn ">
                <img class="card-img-top " src="/images/{{this.image}}" alt="Card image " style="width:100% ">
                <div class="card-body ">
                    <h5 class="card-title" style="color: black;">{{this.name}}</h5>
                    <span class="product-price">{{vnd this.price}}</span><span> đ</span> <br>
                    <a href="/item/{{this.id}}" id="statusItem" class="btn btn-block stretched-link ">Số lượng
                        còn lại :
                        {{this.quantity}}</a>
                    <h6 class="card-text" style="text-align: center;">{{this.description}}</h6>
                </div>
            </div>
        </a>
        {{/each}}
    </div>
</div>


<footer class="container-fluid "></footer>
<script src="/js/custom.js "></script>

<script>

</script>