<header class="container-fluid">
    {{> header}}
</header>


<div class="close-heading-menu"></div>
<!-- product-information -->

<div id="product-infor" class="container">
    <div class="name-product">
        <span>{{item.name}}</span>
    </div>
    <div class="row">
        <div class="img-product col-md-4 col">
            <div class="main">
                <span class="control prev">
                    <i class="bx bx-chevron-left"></i>
                </span>
                <span class="control next">
                    <i class="bx bx-chevron-right"></i>
                </span>
                <div class="img-wrap">
                    <img src="/images" alt="" />
                </div>
            </div>
            <div class="list-img">
                {{#each image}}
                <div>
                    <img src="/images/{{this.image}}" alt="" />
                </div>
                {{/each}}
                {{#each image}}
                <div>
                    <img src="/images/{{this.image}}" alt="" />
                </div>
                {{/each}}
            </div>
        </div>
        <div class="product-price col-lg-7 col-md col-12">
            <table>
                <tr class="assess-product">
                    <td>
                        <a href="#" style="color: black;">Đánh giá</a>
                    </td>
                    <td>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </td>
                </tr>
                <tr class="status-product">
                    <td>Số lượng</td>
                    <td>{{item.quantity}}</td>
                </tr>
            </table>
            <div class="product-price-sub">
                <span>{{vnd item.price}} </span>đ
            </div>
            <div class="promotion-product">
                <span style="white-space: pre-line">{{item.description}}</span>
                <span style="white-space: pre-line">
                    - Sản phẩm fullbox đầy đủ pk , sách hướng dẫn và que lấy sim
                </span>
                <span>
                    - Bảo hành 6 tháng lỗi đổi 30 ngày đầu.
                </span>
            </div>

            <form action=" /cart/{{item.id}}" method="POST">

                <div class="quantity buttons_added" style="margin: 10px 0px 0px 2%;">
                    <h5>Số lượng</h5>
                    <input type="button" value="-" class="minus" style="width: 50px;"><input type="number" step="1"
                        min="1" max="{{item.quantity}}" name="quantity" value="1" title="Qty"
                        class="input-text qty text" size="4" pattern="" inputmode=""><input type="button" value="+"
                        class="plus" style="width: 50px;">
                </div>


                <button class="btn btn-block"
                    style="background-color: #ff3333; margin-top: 20px; width: 300px; margin:50px 0px 0px 150px;">
                    <i class="fas fa-shopping-cart"></i>
                    Thêm vào giỏ hàng
                </button>
            </form>
        </div>
    </div>

</div>

<div class="main-body container">
    <div class="product-compartment row ">
        <hr class="col ">
        <span style="text-shadow: 2px 2px 5px orchid; ">Nhận xét</span>
        <hr class="col ">
    </div>

    {{#if user}}
    <form action="/comment/{{item.id}}" method="post" class="form-floating">
        <textarea class="form-control" placeholder="Nhận xét ...." id="comment_content" name="content"
            style="height: 100px"></textarea>
        <button type="submit"
            style="background: #80bfff; right: 0; padding: 5px 20px 5px 20px; margin-top: 10px; margin-left: 45%;">Đăng</button>
    </form>
    {{/if}}

    <h6>{{countComment}} Bình luận</h6>

    <div class="comment" style="background-color: white; padding: 5px;">

        {{#each comment}}
        <div class="user_comment" style="background-color: #ffffb3; padding: 5px; margin-bottom: 2px;">
            <img src="/avatar/{{this.avatar}}" alt=""
                style="height: 40px; width: 40px; border-radius: 50%; border: 2px solid white">

            <h6 style="text-shadow: 2px 2px 5px #99ccff; margin-left:10px; display: inline;">{{this.name}} -
                <small>{{this.created_at}}</small>
            </h6>
            <p class="content_comment" style="text-align: left; margin-left: 55px;">{{this.content}}</p>
        </div>
        {{/each}}

    </div>

</div>

<script>
    let listDivImg = document.querySelectorAll('.list-img div')
    let next = document.querySelector('.next')
    let prev = document.querySelector('.prev')
    let imgWrap = document.querySelector('.img-wrap img')

    let currentIndex = 0

    setCurrent(currentIndex)

    function setCurrent(index) {
        currentIndex = index
        imgWrap.src = listDivImg[currentIndex].querySelector('img').src

        // remove all active img
        listDivImg.forEach((item) => {
            item.classList.remove('active')
        })

        // set active
        listDivImg[currentIndex].classList.add('active')
    }

    listDivImg.forEach((img, index) => {
        img.addEventListener('click', (e) => {
            setCurrent(index)
        })
    })

    next.addEventListener('click', () => {
        if (currentIndex == listDivImg.length - 1) {
            currentIndex = 0
        } else currentIndex++

        setCurrent(currentIndex)
    })

    prev.addEventListener('click', () => {
        if (currentIndex == 0) currentIndex = listDivImg.length - 1
        else currentIndex--

        setCurrent(currentIndex)
    })

</script>

<!-- footer -->
<footer style="margin-top: 100px;" class="container-fluid "></footer>
<script src="/js/custom.js "></script>