<header class="container-fluid">
    {{> header}}
</header>

<div class="container">
    <div class="user-profile row" style="margin-top: 20px; border-radius: 10px;">
        <div class="title-user-profile">
            <h6>Hồ sơ của tôi</h6>
            <span>Quản lý thông tin hồ sơ để bảo vệ tài khoản</span>
        </div>
        <hr>
        <div class="change-password"><a href="/change-password" style="color: blueviolet;">Đổi mật khẩu</a></div>


        <form action="/change-profile" method="POST" enctype="multipart/form-data">
            <div class="replace-img-user">
                <div class="img-user" style="margin-left: 50%;">
                    <img id="blah" src="/avatar/{{user_data.avatar}}" alt="your image" />
                </div>
                <input accept="image/*" type='file' id="imgInp" style="margin: 30px 0px 0px 30%;" name="avatar"
                    aria-label="Upload" />
            </div>
            <p style="margin-right: 10%; color: red;" id="status"></p>
            <table>
                <tr class="adress-profile">
                    <td>Tên khách hàng :</td>
                    <td>
                        <input type="text" name="name" id="" placeholder="VD : smartphone@gmail.com"
                            value="{{user_data.name}}">
                    </td>
                </tr>
                <tr class="adress-profile">
                    <td>Email :</td>
                    <td>
                        <input type="text" name="email" id="" placeholder="VD : smartphone@gmail.com"
                            value="{{user_data.email}}">
                    </td>
                </tr>
                <tr class="profile-numberphone">
                    <td>Số điện thoại :</td>
                    <td>{{user_data.phone}}</td>
                </tr>

                <tr class="adress-profile">
                    <td>Địa chỉ :</td>
                    <td>
                        <input type="text" name="address" id=""
                            placeholder="VD : Số nhà 86, Ngõ 68, Phường Điểm Cao, Hà Đông, Hà Nội"
                            value="{{user_data.address}}">
                    </td>
                </tr>
            </table>


            <button class="btn btn-save-profile-user" type="submit">Lưu</button>
        </form>
    </div>
</div>

<script>
    const imgInp = document.querySelector('#imgInp')
    const blah = document.querySelector('#blah')

    imgInp.onchange = evt => {
        const [file] = imgInp.files
        if (file) {
            blah.src = URL.createObjectURL(file)
        }
    }

    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    const status = document.getElementById('status')
    let cookie = getCookie("successfully-change-profile")

    if (cookie != '') {
        status.innerHTML = "Thay đổi thông tin thành công"
        document.cookie = "successfully-change-profile=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
    }
</script>


<footer class="container-fluid "></footer>